{% extends 'base.html' %}
{% block main%}

<div class="page">
    <header id="home">
        <div class="dark-overlay">
            <div class="home-inner container">
                <div class="row">
                    <div class="col-lg-8 d-none d-lg-block">
                        <h4 class="display-4">WE PROVIDE BEST <strong>HEALTHCARE </strong></h4>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fas fa-check fa-2x"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                Welcome to our healthcare AI chatbot! Our advanced technology and intelligent algorithms ensure that you receive the best possible healthcare advice and support.
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fas fa-check fa-2x"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                Our healthcare AI chatbot is here to provide you with the best possible care. With our cutting-edge technology and 24/7 availability, you can receive personalized health recommendations and guidance anytime, anywhere.
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fas fa-check fa-2x"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                With our healthcare AI chatbot, you have access to the best healthcare services at your fingertips. Our intelligent system can help you with everything from symptom ensuring that you receive the best possible care.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-form bg-primary text-center">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3 class=" text-capitalize">sign up today</h3>
                                    <p>Please fill out this form to register</p>
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Username" class="form-control form-control-lg">
                                </div>
                                <div class="form-group">
                                    <input type="email" placeholder="Email" class="form-control form-control-lg">
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="Password" class="form-control form-control-lg">
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="Password" class="form-control form-control-lg">
                                </div>
                                <input type="submit" value="Submit" class="btn btn-outline-light btn-block">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <section id="explore">
        <div class="container ">
            <div class="row">
                <div class="col text-center py-5">
                    <h1 class="display-4">Explore</h3>
                    <p class="lead">Take a virtual tour of our healthcare center and see for yourself why we are the best choice for your health needs.</p>
                    <button class="btn btn-outline-light text-capitalize">find out more</button>
                </div>
            </div>
        </div>
    </section>
    <section id="explore-section" class="bg-light text-muted py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="/static/image/AdobeStock_246942922.jpeg" alt="" class="img-fluid mb3 rounded-circle">
                </div>
                <div class="col-lg-6">
                    <h3 class="text-capitalize">explore & connect</h3>
                    <p>Our Explore & Connect section is designed to help you stay informed and connected. </p>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Find out about our latest healthcare innovations and how they can benefit you and your family.
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Explore our advanced medical technology and learn how we use it to provide the best possible care.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="main-footer" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col text-center py-4">
                    <h3>Al-Ibra</h3>
                    <p>&copy; <span id="year"></span>Rights Reserved By Ibrahim and Alaeddine
                    </p>
                </div>
            </div>
        </div>
    
    </footer>
</div>
{%  endblock%}